<% if limit_device? %>
    $(function(){
        $("#msgEditor").val("<p apply_from_skm=true><%= escape_javascript(render("applyable_entry_header"))%></p>");
        $("#linktoSKM").addClass("hidden");
    });
<% else %>
    Ext.onReady(function(){
        Ext.getCmp("msgEditor").setValue("<p apply_from_skm=true><%= escape_javascript(render("applyable_entry_header"))%></p>");
        $("#msgEditor").val("<p apply_from_skm=true><%= escape_javascript(render("applyable_entry_header"))%></p>");
        Ext.get("linktoSKM").addCls("hidden");
    });
<%end%>