<div id="reportChart"></div>

<% require_javascript(:extjs) %>
<% require_css(:extjs) %>

<script type="text/javascript">
  Ext.onReady(function(){

    var store = Ext.create('Ext.data.JsonStore', {
        fields: reportChartData.fields,
        data: reportChartData.origin_data
    });

    var total = 0;

    store.each(function(rec) {
        total += rec.get('data0');
    });

    var seriesTip = function(storeItem, item){
        this.setTitle(storeItem.get('category') + ': ' +storeItem.get('data0')+': '+ Math.round(storeItem.get('data0') / total * 100) + '%');
    }


    Ext.create('Ext.chart.Chart', {
        animate: true,
        renderTo: Ext.get("reportChart"),
        width: Ext.get("reportChart").getComputedWidth()-10,
        height: 300,
        store: store,
        legend: {
                position: 'bottom'
            },
        series: [{
            type: 'pie',
            field: 'data0',
            showInLegend: true,
            donut: 30,
            tips: {
                    trackMouse: true,
                    width: 120,
                    renderer: seriesTip
            },
            label: {
                    field: 'category',
                    display: 'rotate',
                    contrast: true
            }
        }
        ]
    });
      });
</script>