<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">顾问1</a>
  <a href="#" class="list-group-item list-group-item-success">顾问2</a>
  <a href="#" class="list-group-item list-group-item-success">顾问3</a>
  <a href="#" class="list-group-item list-group-item-success">顾问4</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-warning">顾问5</a>
  <a href="#" class="list-group-item list-group-item-warning">顾问6</a>
  <a href="#" class="list-group-item list-group-item-warning">顾问7</a>
  <a href="#" class="list-group-item list-group-item-warning">顾问8</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-danger">顾问9</a>
  <a href="#" class="list-group-item list-group-item-danger">顾问10</a>
  <a href="#" class="list-group-item list-group-item-danger">顾问11</a>
  <a href="#" class="list-group-item list-group-item-danger">顾问12</a>
</div>