<style>
  .people_table{
    width: 33%;
    float: left;
  }
  .people_table_1{
    background-color: forestgreen;
  }
  .people_table_2{
    background-color: red;
  }
  .people_table_3{
    background-color: darkgrey;
  }
</style>
<table class="table table-bordered table-condensed people_table people_table_1">
  <thead>
  <tr>
    <th>Available</th>
  </tr>
  </thead>
  <tbody>
      <%=init_available_people%>
  </tbody>
</table>
<table class="table table-bordered table-condensed people_table people_table_2">
  <thead>
  <tr>
    <th>Busy</th>
  </tr>
  </thead>
  <tbody>
      <%=init_busy_people%>
  </tbody>
</table>
<table class="table table-bordered table-condensed people_table people_table_3">
  <thead>
  <tr>
    <th>Offline</th>
  </tr>
  </thead>
  <tbody>
      <%=init_offline_people%>
  </tbody>
</table>


<script language="JavaScript">
  function myrefresh()
  {
    window.location.reload();
  }
  setTimeout('myrefresh()',120000); //指定1秒刷新一次
</script>