<%= form_tag({:controller => "chm/change_config_relations",:action => "create",:change_request_id=>@change_request.id,:_dom_id=>"changeConfigItem"},{:remote=>true,:builder => CustomFormBuilder}) do %>
    <div class="float-right" style="margin-left: 20px;">
      <%= link_submit(t(:add), :class=>"btn") %>
    </div>
    <div  style="float:right;">
      <%= lov_field_tag "config_item_id", Com::ConfigItem %>
    </div>
<% end %>