<div class="pbSubheader first tertiaryPalette">
  <span class="pbSubExtra">
    <span class="requiredLegend">
      <span class="requiredExampleOuter">
        <span class="requiredExample">&nbsp;</span>
      </span><span class="requiredMark">*</span>
      <span class="requiredText"> = <%=t(:label_is_required)%></span>
    </span>
  </span>
  <h3><%= title %></h3>
</div>
<div class="pbSubsection">
  <%= content %>
</div>