<div class="pbBottomButtons">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td class="pbTitle"></td>
        <td id="bottomButtonRow" class="pbButtonb">
          <%= content %>
        </td>
      </tr>
    </tbody>
  </table>
</div>