.bundle
db/*.sqlite3
log/**
tmp/**/*
wiki
.idea
db/schema.rb
db/data.yml
vendor/cache/**
vendor/cache/*
vendor/bundle/**
public/upload/**
Gemfile.lock
**/Thumbs.db
index
Capfile
config/deploy.rb
ironmine.ids
solr/solr/data/**
solr/data/**
solr/pids/**
public/tmp/*
public/assets/*
lib/function_data.rb
lib/menu_data.rb
modules/module
**/.DS_Store
.DS_Store
.ruby-uuid
public/doc
.ruby-version
