<table  class="form-table">
  <tbody>
    <tr>
      <td class="label-col"><label><%= t(:label_question_solver) %></label></td>
      <td class="data-col"><%= text_field_tag(:solver)%></td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
    <tr>
      <td class="label-col"><label><%= t(:label_question_joiner) %></label></td>
      <td class="data-col"><%= text_field_tag(:joiner)%></td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
  </tbody>
</table>