<%= common_title %>

<style type="text/css">
    .widget-box {
        background: none repeat scroll 0 0 #F9F9F9;
        border-top: 1px solid #CDCDCD;
        border-left: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        clear: both;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
    }

    .widget-box.widget-calendar, .widget-box.widget-chat {
        overflow: hidden !important;
    }

    .accordion .widget-box {
        margin-top: -2px;
        margin-bottom: 0;
        border-radius: 0;
    }

    .widget-box.widget-plain {
        background: transparent;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .widget-title, .table th {
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdfdfd', endColorstr = '#eaeaea', GradientType = 0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 36px;
    }

    .datatable table th {
        background: none;
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdfdfd', endColorstr = '#eaeaea', GradientType = 0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 36px;
        border-right: none;
    }

    .datatable table th, .datatable table th a {
        vertical-align: middle;
    }

    .widget-title table {
        width: 100%;
    }

    .widget-title table td {
        margin: 0;
    }

    .widget-title h5 {
        color: #666666;
        text-shadow: 0 1px 0 #ffffff;
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 12px;
        line-height: 12px;
        margin: 0;
    }

    .widget-title .left-buttons {
        float: left;
        margin: 6px 0 0 60px;
    }

    .widget-title .middle-title {
        text-align: center;
        padding: 5px;
    }

    .widget-title .right-buttons {
        float: right;
        margin: 6px 20px 0 0;
    }

    .widget-content {
        padding: 0;
        border-bottom: 1px solid #cdcdcd;
        height: auto;
    }

    .widget-box.widget-plain .widget-content {
        padding: 12px 0 0;
    }

    .widget-box.collapsible .collapse.in .widget-content {
        border-bottom: 1px solid #CDCDCD;
    }

    .panel-left {
        width: 223px;
        /*background-color: #f2f2f2;*/
        position: absolute;
        left: 0;
        top: 37px;
        min-height: 250px;
    }

    .panel-right {
        margin-left: 223px;
        min-height: 250px;
        border-left: 1px solid #dddddd;
        /*height: 450px;*/
    }

    .panel-right .panel-title {
        width: 100%;
        background-color: #ececec;
        /*border-bottom: 1px solid #dddddd;*/
        padding: 6px 10px 5px;
    }

    .panel-right .panel-title h5 {
        font-size: 12px;
        color: #777777;
        text-shadow: 0 1px 0 #ffffff;
        margin: 0;
        display: inline-block;
        width: 100px;
        text-align: right;
    }

    .panel-right .filter-item {
        display: block;
        padding: 3px;
    }

    .panel-right .filter-item .btn {
        margin-right: 10px;
        min-width: 80px;
    }

    .panel-right .panel-content {
        padding: 0;
    }

    .datepicker.dropdown-menu {
        border-color: #cdcdcd;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

    .datepicker::before,
    .datepicker::after {
        border-left: 0;
        border-right: 0;
    }

</style>
<!--页面结构-->
<div class="widget-box widget-calendar">
  <div class="widget-title">
    <table>
      <tr>
        <td class="left-buttons">
          <%= link_to url_for(:controller => "gtd/tasks", :action => "new"), :class => "btn btn-success" do %>
              <i class="icon-plus icon-white"></i><%= t(:label_gtd_task_new) %>
          <% end %>
        </td>
        <td class="middle-title"><h3></h3></td>
        <td class="right-buttons">
          <a href="#" class="btn btn-primary">今日任务清单</a>
          <a href="#" class="btn btn-info">导出Excel</a>
          <a href="#" class="btn btn-info">导出Pdf</a>
        </td>
      </tr>
    </table>
  </div>


  <div class="widget-content nopadding">
    <div class="panel-left">
      <input type="text" id="calendar" data-always="true" style="margin-top: -34px; margin-left: -1px; z-index: 0; visibility: hidden;"/>
    </div>

    <div class="panel-right">
      <div class="panel-title">
        <div class="filter-item">
          <h5>过滤器：</h5>
          <a href="#" class="btn btn-danger"><i class="icon-ok icon-white"></i> 分派给我的</a>
          <a href="#" class="btn">我创建的</a>
          <a href="#" class="btn">我参与的</a>
          <a href="#" class="btn">我分派的</a>
        </div>

        <div class="filter-item">
          <h5>状态：</h5>
          <a href="#" class="btn btn-danger"><i class="icon-ok icon-white"></i> 全部</a>
          <a href="#" class="btn">待处理</a>
          <a href="#" class="btn">处理中</a>
          <a href="#" class="btn">已完成</a>
        </div>

        <div class="filter-item">
          <h5>类型：</h5>
          <a href="#" class="btn btn-danger"><i class="icon-ok icon-white"></i> 全部</a>
          <a href="#" class="btn btn-danger">每天</a>
          <a href="#" class="btn btn-danger">每周</a>
          <a href="#" class="btn btn-danger">每月</a>
        </div>
      </div>

      <div class="panel-content">
        <%= datatable("gtd_task_instances", {:controller => "gtd/tasks", :action => "get_data"}, [], {:search_box => "searchTask", :paginator_box => "paginatorTask"}) %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        setDateTitle(new Date());
        $("#calendar").datepicker("show").on('changeDate', function (ev) {
            var date = ev.date;
            setDateTitle(date);
            var params = {date:date.valueOf()};


            var current_target = $("#gtd_task_instances").data("datatable").target;
            current_target.data.options.searchOptions = params;
            current_target.loadPage(1);
        });

    });

    function setDateTitle(date){

        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        $(".widget-title .middle-title h3").text(y + "-" + m + "-" + d);
    }

</script>