<style type="text/css">
    .watermark {
        background-size: contain;
        background: url("<%= watermark %>") transparent;
    }
    img.page-break { page-break-before: auto;  page-break-inside: avoid; border: none; }
</style>
<div class="markdown-body watermark">
  <%= generate_entry_book(@entry_book.id) %>
</div>
