<%= common_title(:action_meaning=>t(:label_skm_entry_book_preview),:show_data=>@entry_book[:name])%>
<% require_jscss(:markdown) %>

<!--页面结构-->
<div class="show-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"></h2>
      </td>
      <td class="page-block-button"></td>
    </tr>
  </table>
  <div class="page-block-body">
    <style>
        .watermarks {
            background-size: contain;
            background: url('http://www.hand-china.com/cn/image/logo.jpg');
            top: 150px;
            bottom: 0;
            position: fixed;
            opacity: 0.1;
            display: block;
            height: 100%;
            width: 100%;
        }
    </style>


    <div class="markdown-body" style="width: 551pt;text-align: left;margin: 0 auto;">
      <div class="watermarks"></div>
      <%= generate_entry_book(@entry_book.id) %>
    </div>
  </div>
</div>