<%= page_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_chm_change_plan_type_list) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      </td>
      <td class="page-block-help">
        <div id="plan_typesSearchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <div id="plan_types"></div>
    <%= datatable("plan_types",{:action=>"get_data",:format=>"json"},[],{:paginator_box=>"plan_typesPaginatorBox",:search_box=>"plan_typesSearchBox"})%>
    <div id="plan_typesPaginatorBox"></div>
  </div>
</div>


