<% results.values.each do |value| %>
    <li>
      <% if value[:hit].nil? %>
          <% title = value[:result][:title] %>
          <% content =  truncate(value[:result][:content],{:length => 100,:omission => '......'}) %>
          <% id = value[:result][:id] %>
          <% updated_at = value[:result][:updated_at] %>
      <% else %>
          <% title = search_result_highlight(value[:hit], :title) %>
          <% content = search_result_highlight(value[:hit], :content) %>
          <% id = value[:hit].result[:id] %>
          <% updated_at =  value[:hit].result[:updated_at] %>
      <% end %>
      <h3 class="title">【<%= t :label_irm_bulletin %>】
        <%= link_to(title, {:controller=>"irm/bulletins",:action=>"show",:id => id}) %>
      </h3>
      <p class="content"><%= content %></p>
      <p class="meta"><%= format_date(updated_at) %></p>
    </li>
<% end %>