$(function(){
    <% if @incident_request_id %>
    $("#relation_list").html('<%= escape_javascript(list_all_icm_incident_relations(@incident_request_id))%>');
    $("#relation_select").html('<%= escape_javascript(lov_field_tag "icm_relation", Icm::IncidentRequest)%>');
    <% end %>

<% unless limit_device? %>
  $('.request_info').each(function(){
      try{
        Ext.getCmp('request-info-tip-' + $(this).attr('request_id')).destroy();
      }
      catch(err){}
      var qtip = Ext.create('Ext.tip.ToolTip', {
                  target: this,
                  id: 'request-info-tip-' + $(this).attr('request_id'),
                  anchor: 'left',
                  title: "<a href='/incident_requests/" + $(this).attr('request_id') + "/journals/new'>" + $(this).attr('request_name') + "</a>",
                  html: "<iframe frameborder=0 scrolling='no'  src='/incident_requests/" + $(this).attr('request_id') + "/info_card' style='width:100%;height:90px;'></iframe>",
                  width: 400,
                  autoHide: true,
                  dismissDelay: 0,
                  closable: false,
                  listeners: {
                    'afterrender': function(){
                        this.el.on('mouseout', function(e){
                            if(!qtip.getChildByElement(this)){
                                qtip.hide();
                            }
                        });

                        this.el.on('mouseover', function(e){
                            qtip.suspendEvents();
                            qtip.show();
                        });

                    }
                  }
              });
  });
<% end %>
});
