<div class="pbWizardTitle tertiaryPalette">
  <div class="ptRightTitle">
      <%= t(:step_n_total_m, :n => step.to_s, :m => "5") %>
  </div>
  <h2>
      <%= t(:step_n, :n => step.to_s) %><%= report_page_step_title[step.to_i] %>
  </h2>
</div>