<div id="testDiv"></div>

<%= link_to "testButton", {},
            :href => "javascript:void(0);",
            :id => "testButton",
            :onclick => "getImg();"%>
<script type="text/javascript">
  GY.use(function(Y) {
      var testDiv = Y.one("#testDiv");
      var appletStr = '<applet id="screenSaver" name="screenSaver" code="ScreenSaver.class" archive="applets/ScreenSaver.jar" width="640" height="480"> Java applet that draws animated bubbles. </applet>';

      testDiv.set("innerHTML", appletStr);
  });

  function reloadImg(){
      screenSaver.reloadClipboard();
  }

  function getImg(){
      alert("!!");
      var img = screenSaver.getImg();
      alert(getType(img));

  }

    function getType(o) {
        var _t;
        return ((_t = typeof(o)) == "object" ? o==null && "null" || Object.prototype.toString.call(o).slice(8,-1):_t).toLowerCase();
    }

</script>