<style type="text/css">
  .processTitle {
      border: 1px solid #EAEAEA;
      margin-bottom:15px;
  }
  .page-block-button form{
      margin: 0;
  }
</style>

<div class="page-block processTitle">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_icm_support_group) %></h2>
        <%=select_tag_alias :group_id, available_group,@support_group.group_id,{:id=>"groupId",:href=>url_for({:group_id=>"{group_id}"})}%>
      </td>
    </tr>
  </table>
</div>

<% if @support_group.id %>
    <%= render "edit_form" %>
<% else %>
    <%= render "new_form" %>
<% end %>
<script type="text/javascript">
  $(function(){
     $("#groupId").change(function(e){
         var url = decodeURIComponent($(e.target).attr("href"));
         var groupId = $(e.target).val();
         url = url.replace("{group_id}",groupId);
         window.location = url;
     });
  });
</script>