<body style="padding:5px;">
  <div class="listRelatedObject setupBlock">
      <div class="page-block">
        <div class="pbHeader">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td class="pbTitle"><h2 class="mainTitle"><%= Irm::BusinessObject.class_name_to_meaning(@business_object.bo_model_name) %></h2></td>
                <td class="pbButton">
                </td>
                <td class="pbHelp">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pbBody">
          <% if @datas.any? %>
              <% if lookup_context.template_exists?("#{@business_object.bo_model_name.pluralize.underscore}/lov",[],true) %>
                  <%= render :partial => "#{@business_object.bo_model_name.pluralize.underscore}/lov" %>
              <% else %>
                  <%= render :partial => "lov_result" %>
              <% end %>
          <% else %>
            <%=   render :partial => "helper/datatable_no_data" %>
          <% end %>
        </div>
      </div>
  </div>
</body>