<%=datatable_view({:count=>@count,:datas=>@datas}) do |builder|%>
    <% builder.column(:com_name,{:title=>"公司名称",:searchable=>true, :width => "130px"})  %>
    <% builder.column(:id,{:title=>t(:operation), :width => "130px"}) do |data|%>
        <a onclick="fillInput(this)" style="cursor: pointer;text-decoration: none;" id="<%=data[:id]%>" name="<%=data[:com_name]%>">选择</a>
    <% end %>
<% end %>
<script>
  function fillInput(arg){
      $("#cons_customer_company").val(arg.name)
      $("#companyModal").modal("hide")
  }
</script>