<!--  irm datatable      -->
 <div class="datatable">
   <div>
       <table count="<%=datas[:datas].size%>">
         <thead>
           <tr>
             <th>
               <div><%=t(:label_report_icm_incident_category)  %></div>
             </th>
             <% datas[:cate_headers].each do |category| %>
               <th >
                 <div><%= category %></div>
               </th>
             <% end %>
           </tr>
         </thead>
         <tbody>
         <% datas[:datas].each do |data| %>
           <tr>
             <% 0.upto(datas[:cate_headers].length) do |index| %>
               <td>
                 <div>
                   <%= data[index] %>
                 </div>
               </td>
             <% end %>
           </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->