<% require_css(:jpolite) %>
<% require_javascript(:jpolite) %>
<style type="text/css">
  .dragging{
      border: 2px dashed;
      border-color: gray;
      min-height: 80px;
  }
</style>
<ul id="main_nav" style="display:none;">
   <li id="t1"><b class="hover">homePage</b></li>
</ul>
<div id="jpolite_content"  class="jpolite-container">
    <div id="c1" class="cc"></div>
	<div id="c2" class="cc"></div>
	<div id="c3" class="cc"></div>
    <div id="c4" class="cc"></div>
</div>

<!-- A default template is required here without an ID -->
<div class="module_template">
	<div class="moduleFrame">
		<div class='moduleHeader'>
			<div class='moduleTitle'></div>
			<div class='moduleActions'>
				<b title="Refresh" class="actionRefresh"></b>
				<b title="Collapse" class="actionMin"></b>
				<b title="Expand" class="actionMax"></b>
				<b title="Close" class="actionClose"></b>
			</div>
		</div>
		<div class='moduleContent'>
		</div>
	</div>
</div>

<script>
  var _modules= {
      //m101:{url:"licenses",	t:"Motivation"},
	  //m102:{url:"people",	t:"Philisophy"},
      m101:{url:"bulletins/portlet",	t:"bulletins"},
      m102:{url:"entry_headers/portlet",	t:"entry_headers"}


  }
  var _moduleLayout={t1:["m101:c1","m102:c2" ]}
  var _columnLayout = {
	_default: { bg:'normal',
		        c1:'span-24 last',
		        c2:'span-12',
		        c3:'span-12 last',
		        c4:'span-24 last'
	           }
  };
  initPortal();
</script>