<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_skm_file_list) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:label_skm_upload_new_file), {:action => "new"}, :class => "btn btn-primary" %>
      <%= link_to t(:label_skm_upload_batch_file), {:action => "batch_new"},:class=> "btn" %>
    </td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("skm_files_list",{:action=>"get_data",:format=>"json"},[], {:search_box=>"searchBox",:paginator_box=>"filesPaginatorBox",:html=>true})%>
    <div id="filesPaginatorBox"></div>
  </div>
</div>
