<%=form_tag({:controller=>"irm/search",:action=>"index"},{:id=>"phSearchForm"})  do |f| %>
  <div id="phSearchContainer" class="headerSearchContainer">
    <div class="headerSearchLeftRoundedCorner">
      <div class="searchBoxClearContainer">
        <input id="phSearchInput" name="query" class="headerSearchBoxGhostText" type="text" size="20" maxlength="100">
      </div>
      <div id="searchButtonContainer" class="headerSearchRightRoundedCorner">
        <%= submit_tag(t(:search),:id=>"phSearchButton") %>
      </div>
    </div>
    <div id="searchOptionsContainer" class="headerSearchOptions" style="display:none;">
      <a href="javascript:void(0);" id="headerSearchOptionsLink" class="headerSearchOptionsLink"><%= t(:options) %></a>
    </div>
  </div>
<% end %>
<link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/custom_yui_container_skin.css"></link>
<script type="text/javascript">
  $(document).ready(function(){
    $("#phSearchInput").keydown(function(e){
        if(e.keyCode=='13'){
          $("#phSearchButton").trigger("click");
        }
      });
  });
</script>