<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_skm_entry_template_list) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
    </td>
    <td class="page-block-help">
      <div id="templatesSearchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="entry_templates_list">
      <%= datatable("entry_templates_list",{:action=>"get_data",:format=>"json"},[],{:search_box=>"templatesSearchBox",:paginator_box=>"entry_templatesPaginatorBox"})%>
    </div>
    <div id="entry_templatesPaginatorBox"></div>
  </div>
</div>