<%= page_title %>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_ccc_consultantLevel_list) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      </td>
      <td class="page-block-help">
        <div id="consultantLevelsSearchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <%= datatable("consultantLevels",{:action=>"get_data"},[],{:paginator_box=>"consultantLevelsPaginatorBox",:search_box=>"consultantLevelsSearchBox"})%>
  </div>
</div>


