<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:notice) %></h2>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="labelCol"><%= t(:label_icm_support_group_add_group_notice) %></td>
            <td class="dataCol"></td>
            <td class="labelCol"></td>
            <td class="dataCol"></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>