<style type="text/css">
  .selectTitle {
      margin-bottom:15px;
  }
  .selectTitle h6{
      background-color: #333333;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    padding: 5px 0;
    text-align: center;
  }
</style>
<div class="selectTitle">
   <h6>
     <%= t(:label_icm_support_group) %> <%=select_tag_alias :group_id, available_group,@support_group.group_id,{:id=>"groupId",:href=>url_for({:group_id=>"{group_id}"})}%>
   </h6>
</div>
<% if @support_group.id %>
    <%= render "edit_form" %>
<% else %>
    <%= render "new_form" %>
<% end %>
<script type="text/javascript">
  $(function(){
     $("#groupId").change(function(e){
         var url = decodeURIComponent($(e.target).attr("href"));
         var groupId = $(e.target).val();
         url = url.replace("{group_id}",groupId);
         window.location = url;
     });
  });
</script>