<%=datatable_view({:count=>@count,:datas=>@datas}) do |builder|%>
    <% builder.column(:customer_no,{:title=>"客户编号",:searchable=>true, :width => "130px"})  %>
    <% builder.column(:customer_name,{:title=>"客户姓名", :width => "130px"})  %>
    <% builder.column(:id,{:title=>t(:operation), :width => "130px"}) do |data|%>
        <a onclick="fillInput(this)" style="cursor: pointer;text-decoration: none;" id="<%=data[:id]%>" name="<%=data[:customer_no]%>">选择</a>
    <% end %>
<% end %>
<script>
    function fillInput(arg){
        $("#cons_product_pro_customer_no").val(arg.name)
        $("#noModal").modal("hide")
    }
</script>