<% unless limit_device? %>
<% require_jscss(:xheditor) %>
<% end %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_chm_change_plan) %></h2>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <iframe name="hiddenFrame" style="display: none;"></iframe>
    <div id="plans">
      <%= render "list_plans" %>
    </div>
  </div>
</div>