<div class="editor-toolbar">
  <div class="icons pull-right">
    <a href="#" class="icon-picture topic-add-image" style="display: inline-block;"></a>
    <input type="file" name="file" title="<%= t(:label_attachment_file_type,:type=>"gif,png,jpg,jpeg") %>" class="file topic-upload-images">
  </div>
  <ul class="pills" style="clear:none;">
    <li class="edit active" style="visibility: hidden;"><a href="javascript:void(0);"><%= t(:edit) %></a></li>
  </ul>
</div>