<% if @model_object.required_custom_attributes.any? %>
  <style>
      #customBlock .quick-create-field input[type="text"] {
          width: 175px;
      }
      #customBlock .quick-create-field input[type="checkbox"] {
          width: auto;
      }
      #customBlock .quick-create-field .date-field input.date-input {
          width: 70px;
      }
  </style>
  <%= show_input_custom_fields(@model_object, 4, true) do |builder|  %>
    <% @model_object.required_custom_attributes.each do |attribute| %>
      <% builder.custom_field(attribute[:attribute_name]) do |label, value| %>
        <div class="quick-create-field">
          <label><%= label %><%= required_icon %></label>
          <%= value %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>