<div id="incident_requests"></div>
<%= datatable("incident_requests",{:action=>"get_data"},[],{:export_data=>"#incidentRequestExport",:not_load=>true,:search_box=>"incident_requestsSearchBox",:html=>true,:export_data=>"#exportData",:view_filter=>true})%>
<div id="incidentRequestsPaginatorBox"></div>



