<div class="sidebar-block">
    <div class="sidebar-block-header"><h2><%= t :label_icm_incident_request_attachment_list %>(<%= @request_files.values.flatten.size%>)</h2></div>
    <div class="sidebar-block-body">
        <%= list_all_files%>
    </div>
</div>