<div class="markdown-body">
  <h1><%= @wiki_template.name %></h1>
  <%= raw @preview.formatted_data %>
</div>
<div id="raw" style="display: none;"># <%= @wiki_template.name %>
<%= @wiki_template.content %>
</div>